DB_USER=root
DB_PASS=root
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=addrgo

# Germany complete
OSM_URLS="https://download.geofabrik.de/europe/germany-latest.osm.pbf"

# State-level OSM extracts for Germany
# OSM_URLS="https://download.geofabrik.de/europe/germany/baden-wuerttemberg-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/bayern-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/berlin-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/brandenburg-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/bremen-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/hamburg-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/hessen-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/mecklenburg-vorpommern-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/niedersachsen-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/nordrhein-westfalen-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/rheinland-pfalz-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/saarland-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/sachsen-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/sachsen-anhalt-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/schleswig-holstein-latest.osm.pbf,
# https://download.geofabrik.de/europe/germany/thueringen-latest.osm.pbf"   

# Nordic countries
#OSM_URLS="https://download.geofabrik.de/europe/denmark-latest.osm.pbf,
#https://download.geofabrik.de/europe/finland-latest.osm.pbf,
#https://download.geofabrik.de/europe/iceland-latest.osm.pbf,
#https://download.geofabrik.de/europe/sweden-latest.osm.pbf,
#https://download.geofabrik.de/europe/norway-latest.osm.pbf"